* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
}

body {
  max-width: 1920px;
  margin: 0 auto; /* Wycentrowanie strony */
  background-color: #90ad79; /* Przykładowy kolor tła */
}

.mainWrapper {
  color: black;
}
header {
  width: 80%;
  margin: 20px auto;
  background-color: red;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#headerSpan {
  color: white;
}
#headerButtonsDiv {
  margin-right: 0;
}
nav {
  width: 60%;
  display: flex;
  border: 1px, solid, black;
  margin: auto auto;
}
main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  height: 500px;
  background-color: rgb(110, 15, 173);
}
#searchContainer {
  width: 50%;
  height: 10px;
  margin: 0 auto;
  background-color: rgb(81, 199, 45);
}
ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  justify-content: space-between;
}
li {
  color: blue;
}
